@model BatchDataAccessLibrary.Models.RecipeLimits

@{
    ViewData["Title"] = "Create Recipe Limit";
}

<br />
<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>
    <li><a asp-controller="PcsRecipeLimitsSettings" asp-action="Index">Add / Remove Pcs Recipe Limits</a></li>
    <li>Add new limit</li>
</ul>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeType" class="control-label"></label>
                <select asp-for="RecipeType" class="form-control"></select>
                <span asp-validation-for="RecipeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitTypes" class="control-label"></label>
                <select asp-for="LimitTypes" class="form-control"></select>
                <span asp-validation-for="LimitTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Min" class="control-label"></label>
                <input asp-for="Min" class="form-control" />
                <span asp-validation-for="Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max" class="control-label"></label>
                <input asp-for="Max" class="form-control" />
                <span asp-validation-for="Max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuageMax" class="control-label"></label>
                <input asp-for="GuageMax" class="form-control" />
                <span asp-validation-for="GuageMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tolerance" class="control-label"></label>
                <input asp-for="Tolerance" class="form-control" />
                <span asp-validation-for="Tolerance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
